
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  height:100vh;
}

.carousel-caption{
  width: 80%;
  height: 100%;
  padding: 0;
  right: 0;
  left: 0;
  margin:auto;
}

.carousel-control{
  width: 0;

}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left:50px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right:50px;
}
/*----------------general------------------*/
body{
background-color: #007f00;
}
.home{
  position: fixed;
  opacity: 0.85;
  z-index: ;
}
img{
  margin:auto;
  width: 100%;
}

h1{
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

p{
  margin-top: 100px;
  text-align: justify;
}

/*---------------------parcour-------------*/
.textpicto{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.parc{
  display:flex;
  margin-top: 50px;
}
.picto{
    width: 10%;
}
/*-----------------realisation-------------*/

/*-----------------language---------------*/
