body{
background-color: #f1f1f1;
}
.home{
  position: fixed;
  opacity: 0.85;
  z-index: ;
}
img{
  margin:auto;
  width: 100%;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  height:100vh;
}

.carousel-caption{
  width: 60%;
  height: 100%;
  padding: 0;
}
.carousel-control{
  width: 0;

}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left:50px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right:50px;
}
.glyphicon{
  color: 006868;
}
.fa.fa-arrow-circle-right{
font-size: 50px;
  color: #008080;
  margin: auto;
}
h1{
  position: absolute;
  width: 100%;
  color: red;
  text-transform: uppercase;
  text-align: center;
}

p{
  margin-top: 100px;
  text-align: justify;
}
